
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
     box-sizing: border-box;
      margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    padding: 20px;
}

.box{
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 22px;
    padding: 20px;
    max-width: 375px;
    width: 100%;
}

img{
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}


h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2;
}

p{
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

/* Tablet */
@media (min-width: 768px) {
    .box {
        max-width: 400px;
        padding: 30px;
        gap: 24px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .box {
        max-width: 320px;
        padding: 20px;
    }
}
